* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c2e2ee;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0.6rem;
  color: #fff;
  background-color: #333;
  margin-bottom: 2rem;
}

.header .db-on {
  margin-left: 33%;
  font-size: 0.7rem;
}

.header .db-text {
  font-size: 0.8em;
  background-color: #f00;
  font-weight: bold;
  display: inline-block;
  border: solid 1px #ddd;
  border-radius: 20%;
  padding: 0.2em 0.4em;
}

.header .connected {
  background-color: #0f0;
  color: #333;
}

.container {
  max-width: 1000px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

h1,
h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.title-contrib {
  margin-bottom: 1.7rem;
}

.form-data {
  width: 45vw;
  min-width: 300px;
  background-color: #fafafa;
  padding: 1rem;
  margin: 0 auto 3rem auto;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
}

@media (max-width: 770px) {
  .form-data {
    width: 65vw;
  }
}

.form-data .instructions {
  margin-bottom: 1rem;
}

.form-data .input-group {
  margin-bottom: 1rem;
}

.form-data label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
}

.form-data input[type='text'] {
  width: 100%;
  background-color: #e4ebee;
  padding: 0.3em 0.5em;
  border: solid 1px #333;
  border-radius: 0.3em;
}

.form-data input[type='text']:focus {
  outline: none;
  border-width: 2px;
  -webkit-box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.4);
}

.form-data input[name='correct'] {
  border-color: #00cd00;
  margin-bottom: 0.7rem;
}

.form-data input[name*='wrong'] {
  border-color: #cd0000;
}

.form-data input[type='submit'] {
  padding: 0.3em 0.5em;
  margin-top: 1rem;
  color: #fff;
  background-color: #f00;
  border: 0;
  border-radius: 0.3em;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.form-data input[type='submit']:hover {
  background-color: #c30000;
}

.form-data .difficulty-instr {
  margin-top: 1.2rem;
}

.form-data .difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-data .difficulty label {
  margin: 0.4rem 1.1rem 0.4rem 0.3rem;
}

.show-data > * {
  margin: 0 auto;
}

.saved-data {
  list-style: none;
}

.data-results-title {
  margin: 2rem 0 1rem 0;
}

.data-details {
  max-width: 60vw;
  font-size: 1.1rem;
}

@media (max-width: 770px) {
  .data-details {
    max-width: 90vw;
  }
}

.btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  color: #fff;
  padding: 0.3em 0.5em;
  margin: 1.5rem 0 2rem 0;
  cursor: pointer;
  border: 0;
  border-radius: 0.3em;
  margin-right: 1.5rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.btn-list {
  background-color: #00f;
}

.btn-list:hover {
  background-color: #00009c;
}

.btn-refresh {
  background-color: purple;
  display: none;
}

.btn-refresh:hover {
  background-color: #4f004f;
}

.btn-page {
  background-color: #009800;
  display: none;
}

.btn-page[disabled] {
  background-color: #aaa;
  cursor: none;
}

.btn-page:not([disabled]):hover {
  background-color: #007600;
}

.select {
  display: none;
}

.count-text {
  text-align: center;
  font-weight: bold;
  display: none;
  margin: 0.5rem 0;
  padding: 0.3em;
}

.count-text:focus {
  outline: 2px solid #62c7e9;
}

hr.break {
  width: 75%;
  border-top: 1px solid #333;
  margin: 0 auto;
}

.card {
  width: 45vw;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid #b5b5b5;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  word-break: break-all;
}

@media (max-width: 770px) {
  .card {
    width: 85vw;
  }
}

.card .list {
  list-style: none;
  margin-left: 1rem;
}

.card li {
  padding: 0.2em;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 0.7rem;
}

.card .item-correct {
  background-color: #84ff84;
}

.card .question {
  margin-bottom: 1rem;
}

.card .difficulty {
  margin: 1rem 0;
}

.search {
  padding: 2rem;
}

.search__details {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.3em;
  margin-bottom: 1rem;
}

.search__details:focus {
  outline: 2px solid #62c7e9;
}

.search__cont {
  margin: 1rem auto;
  max-width: 60vw;
  padding: 1rem;
}

@media (max-width: 770px) {
  .search__cont {
    max-width: 90vw;
  }
}

.input-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-results:focus {
  outline: 2px solid #62c7e9;
}

.input-search {
  background-color: #fff;
  font-size: 1.2rem;
  outline: none;
  float: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.3em 0.5em;
  border: 2px solid #333;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.input-search:focus {
  outline: none;
  -webkit-box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.4);
}

.btn-search {
  font-size: 1.2rem;
  border: 2px solid #333;
  border-left: 0;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  padding: 0.3em 0.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-submit {
  background-color: #5b5bff;
}

.btn-submit:hover {
  background-color: #0f0fff;
  color: #fff;
}

.btn-clear {
  display: none;
  background-color: #ff3b3b;
}

.btn-clear:hover, .btn-clear:focus {
  background-color: #ee0000;
}

.list-search {
  width: 70vw;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.list-search__item {
  border: 2px solid #ddd;
  padding: 1rem;
}

.list-search__item:not(last-of-type) {
  border-bottom: 0;
}

.list-search__item:nth-of-type(even) {
  background-color: #efefef;
}

.search__reference {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.6rem;
}

#search-link {
  display: none;
  text-align: center;
  margin-top: 1rem;
}

#search-link:hover {
  text-decoration: none;
}

.footer {
  background-color: #72bcd8;
  color: #000;
  padding: 2rem;
  text-align: center;
}

.footer__details {
  font-size: 1.1rem;
  font-weight: bold;
}

.footer__details:not(:last-of-type) {
  margin-bottom: 1rem;
}

.logo {
  margin: -0rem 0 -0.1rem 0.2rem;
  height: 0.9rem;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}
/*# sourceMappingURL=style.css.map */