* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(194, 226, 238);
}

.header {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0.4rem;
  color: #fff;
  background-color: #333;
  margin-bottom: 2rem;

  .db-on {
    margin-left: 33%;
    font-size: 0.7rem;
  }

  .db-text {
    background-color: #f00;
    font-weight: bold;
    display: inline-block;
    border: solid 1px #ddd;
    border-radius: 20%;
    padding: 0.2em 0.4em;
  }

  .connected {
    background-color: #0f0;
    color: #333;
  }
}

.container {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.form {
  width: 40vw;
  min-width: 300px;
  background-color: #fafafa;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;

  @media (max-width: 770px) {
    width: 65vw;
  }

  .instructions {
    margin-bottom: 1rem;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
  }

  input[type='text'] {
    width: 100%;
    background-color: rgb(228, 235, 238);
    padding: 0.3em 0.5em;
    border: solid 1px #333;
    border-radius: 0.3em;

    &:focus {
      outline: none;
      border-width: 2px;
      box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.4);
    }
  }

  input[name='correct'] {
    border-color: rgb(0, 205, 0);
    margin-bottom: 0.7rem;
  }

  input[name*='wrong'] {
    border-color: rgb(205, 0, 0);
  }

  input[type='submit'] {
    padding: 0.3em 0.5em;
    margin-top: 1rem;
    color: #fff;
    background-color: #f00;
    border: 0;
    border-radius: 0.3em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: rgb(195, 0, 0);
    }
  }

  .difficulty-instr {
    margin-top: 1.2rem;
  }

  .difficulty {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    label {
      margin: 0.4rem 1.1rem 0.4rem 0.3rem;
    }
  }
}

.btn-list {
  background-color: #00f;
  color: #fff;
  padding: 0.3em 0.5em;
  margin: 3rem 0 2rem 0;
  cursor: pointer;
  border: 0;
  border-radius: 0.3em;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: rgb(0, 0, 156);
  }
}

hr.break {
  margin-top: 3rem;
  width: 75%;
  border-top: 1px solid #333;
}

.card {
  width: 40vw;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid #b5b5b5;
  margin-bottom: 1rem;
  padding: 1rem;
  word-break: break-all;

  @media (max-width: 700px) {
    width: 65vw;
  }

  .list {
    list-style: none;
    margin-left: 1rem;
  }

  li {
    padding: 0.2em;
    border-bottom: 1px solid rgb(178, 178, 178);
    margin-bottom: 0.7rem;
  }

  .item-correct {
    background-color: rgb(132, 255, 132);
  }

  .question {
    margin-bottom: 1rem;
  }

  .difficulty {
    margin: 1rem 0;
  }
}
