$color-primary: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-primary;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c2e2ee;
}

.header {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0.6rem;
  color: #fff;
  background-color: $color-primary;
  margin-bottom: 2rem;

  // Database connected
  .db-on {
    margin-left: 33%;
    font-size: 0.7rem;
  }

  .db-text {
    font-size: 0.8em;
    background-color: #f00;
    font-weight: bold;
    display: inline-block;
    border: solid 1px #ddd;
    border-radius: 20%;
    padding: 0.2em 0.4em;
  }

  .connected {
    background-color: #0f0;
    color: #333;
  }
}

.container {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
}

h1,
h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.title-contrib {
  margin-bottom: 1.7rem;
}

// Data Form Questions and Answers
.form-data {
  width: 45vw;
  min-width: 300px;
  background-color: #fafafa;
  padding: 1rem;
  margin: 0 auto 3rem auto;
  border: 1px solid #ddd;
  border-radius: 0.4rem;

  @media (max-width: 770px) {
    width: 65vw;
  }

  .instructions {
    margin-bottom: 1rem;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
  }

  input[type='text'] {
    width: 100%;
    background-color: rgb(228, 235, 238);
    padding: 0.3em 0.5em;
    border: solid 1px $color-primary;
    border-radius: 0.3em;

    &:focus {
      outline: none;
      border-width: 2px;
      box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.4);
    }
  }

  input[name='correct'] {
    border-color: rgb(0, 205, 0);
    margin-bottom: 0.7rem;
  }

  input[name*='wrong'] {
    border-color: rgb(205, 0, 0);
  }

  input[type='submit'] {
    padding: 0.3em 0.5em;
    margin-top: 1rem;
    color: #fff;
    background-color: #f00;
    border: 0;
    border-radius: 0.3em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: rgb(195, 0, 0);
    }
  }

  .difficulty-instr {
    margin-top: 1.2rem;
  }

  .difficulty {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    label {
      margin: 0.4rem 1.1rem 0.4rem 0.3rem;
    }
  }
}

// Display Saved Data
.show-data > * {
  margin: 0 auto;
}

.data-results-title {
  margin: 2rem 0 1rem 0;
}

.data-details {
  max-width: 60vw;
  font-size: 1.1rem;
}

.btn-cont {
  display: flex;
  justify-content: center;
}

.btn {
  color: #fff;
  padding: 0.3em 0.5em;
  margin: 1.5rem 0 2rem 0;
  cursor: pointer;
  border: 0;
  border-radius: 0.3em;
  margin-right: 1.5rem;
  transition: all 0.3s ease-in;
}

.btn-list {
  background-color: #00f;

  &:hover {
    background-color: rgb(0, 0, 156);
  }
}

.btn-refresh {
  background-color: purple;
  display: none;

  &:hover {
    background-color: rgb(79, 0, 79);
  }
}

.btn-page {
  background-color: rgb(0, 152, 0);
  display: none;

  &[disabled] {
    background-color: #aaa;
    cursor: none;
  }

  &:not([disabled]):hover {
    background-color: rgb(0, 118, 0);
  }
}

.select {
  display: none;
}

.count-text {
  text-align: center;
  font-weight: bold;
  display: none;
  margin: 1rem 0;
}

hr.break {
  width: 75%;
  border-top: 1px solid $color-primary;
}

.card {
  width: 45vw;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid #b5b5b5;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  word-break: break-all;

  @media (max-width: 770px) {
    width: 65vw;
  }

  .list {
    list-style: none;
    margin-left: 1rem;
  }

  li {
    padding: 0.2em;
    border-bottom: 1px solid rgb(178, 178, 178);
    margin-bottom: 0.7rem;
  }

  .item-correct {
    background-color: rgb(132, 255, 132);
  }

  .question {
    margin-bottom: 1rem;
  }

  .difficulty {
    margin: 1rem 0;
  }
}

// Search
.search {
  padding: 2rem;
}

.search__details {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.1rem;
}

.search__cont {
  margin: 1rem auto;
  max-width: 60vw;
  padding: 1rem;
}

.input-cont {
  display: flex;
}

.input-search {
  background-color: #fff;
  font-size: 1.2rem;
  outline: none;
  float: left;
  flex: 1;
  padding: 0.3em 0.5em;
  border: 2px solid #333;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  transition: all 0.3s;

  &:focus {
    outline: none;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.4);
  }
}

.btn-search {
  font-size: 1.2rem;
  border: 2px solid #333;
  border-left: 0;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  padding: 0.3em 0.5em;
  transition: all 0.3s;
}

.btn-submit {
  background-color: #5b5bff;

  &:hover {
    background-color: darken(#5b5bff, 15%);
    color: #fff;
  }
}

.btn-clear {
  display: none;
  background-color: #ff3b3b;

  &:hover,
  &:focus {
    background-color: darken(#ff3b3b, 15%);
  }
}

.list-search {
  width: 70vw;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.list-search__item {
  border: 2px solid #ddd;
  padding: 1rem;
}

.list-search__item:not(last-of-type) {
  border-bottom: 0;
}

.list-search__item:nth-of-type(even) {
  background-color: #efefef;
}

.search__reference {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.6rem;
}

// Footer
.footer {
  background-color: darken(#c2e2ee, 20%);
  color: #000;
  padding: 2rem;
  text-align: center;

  &__details {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.logo {
  margin: -0rem 0 -0.1rem 0.2rem;
  height: 0.8rem;
}

// Utilities
.hide {
  display: none;
}

.show {
  display: block;
}
